<style type="text/css">
	#sitecontent {
		width: 100%;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: scroll;
	}
</style>

<script type="text/javascript">

var ppTypes = {
	{PP.TYPES}
};

var d2 = function() {
	console.log.apply(console, arguments);
}

$(function() {
	$('#sitecontent').load(function() {
		$('<style type="text/css">a.pp-link { position: absolute; display: block; border: 1px solid #990000; margin: 1em 0 0 2em; background-color: #ff0000; padding: 0.2em 0.5em; text-decoration: none; color: #ffffff; } a.pp-link:hover { background-color: #ffffff; color: #990000;}</style>').appendTo(this.contentWindow.document.body);

		var ppHost   = window.location.host;
		var ppWindow = window;
		var iframe   = this;

		$('a', this.contentWindow.document).each(function() {
			this.target =  this.host == ppHost ? '_self' : '_blank';

		}).click(function() {
			if(this.host == ppHost) {
				ppWindow.location.hash = this.href;
			}
		});

		$('.pp-object', this.contentWindow.document).each(function() {
			try {
				var id     = this.getAttribute('pp:id');
				var format = this.getAttribute('pp:format');

				var link = '/admin/popup.phtml?area=objects&id='+id+'&format='+format+'&action=main';
				var text = " редактировать объект типа &laquo;"+ppTypes[format]+'&raquo; с id ' + id;

				$('<a href="'+link+'" class="pp-link">'+text+'</a>').prependTo(this).click(function(){
					Popup(this.href);
					return false;
				});

			} catch(e) {
			}
		});
	});

	if(window.location.hash.length > 1) {
		$('#sitecontent')[0].src = window.location.hash.substr(1);
	}
});

</script>

<iframe id="sitecontent" frameborder="0" src="/"></iframe>
