body.root .choice .next, body.root .choice .prev {
	filter: alpha(opacity = 40);
}
body.root .choice .next-on, body.root .choice .prev-on {
	filter: alpha(opacity = 100);
}
#header .choose-region select {
	filter: alpha(opacity = 0);
}
#header .choose-region, 
body.root .promo .full,
#footer .contacts,
#footer .contacts .right input.text,
body.root .promo .right,
body.root .promo .right .wrap {
	position: relative;
	behavior: url(/js/PIE.htc);
}
body.root .promo .full .models {
	behavior: url(/js/PIE.htc);
}