/* PROFILER ***************************************************/
div#profiler {
	position: absolute;
	z-index: 1024;
	width: 35%;
	top: 10%;
	left: 50%;
	background-color: #eeeeee;
	border: 1px solid #000000;
	border-top-color: #aaaaaa;
	border-left-color: #aaaaaa;
	padding: 10px;
}

div#profiler table {
	width: 100%;
	table-layout: fixed;
}

div#profiler th, td {
	color: #cccccc;
	padding: 5px 2px;
	text-align: right;
	vertical-align: top;
}

div#profiler th.label {
	text-align: left;
	width: 60%;
}

div#profiler td.label {
	color: #cccccc;
	font-weight: bold;
	font-size: 12px;
	font-family: 'Consolas', monospace;
	border: 0;
	display: block;
	background-color: transparent;
	vertical-align: bottom;
	width: 80%;
	text-align: left;
	height: 1em;
	overflow: hidden;
}

div#profiler tr.long0001 td { color: #aaaaaa; }
div#profiler tr.long001  td { color: #999999; }
div#profiler tr.long01   td { color: #000000; }
div#profiler tr.long1    td { color: #990000; }

div#profiler td.lev1 { padding-left: 10px; }
div#profiler td.lev2 { padding-left: 20px; }
div#profiler td.lev3 { padding-left: 30px; }
div#profiler td.lev4 { padding-left: 40px; }
div#profiler td.lev5 { padding-left: 50px; }
div#profiler td.lev6 { padding-left: 60px; }
