<?xml version="1.0" encoding="iso-8859-1"?>
<components>
	<component name="regions" type="trigger">
		<attribute name="multipleregions" />
		<attribyte type="database" />
	</component>
	<component name="regions" type="trigger">
		<attribute name="multipleregions" />
		<attribyte type="system" />
	</component>
</components>
