<TABLE border="0" cellpadding="3" cellspacing="0" align="center" style="height: 100%;">
	<TR>
		<TD valign="middle">
			<DIV style="border: 1px solid #D2D2D2; border-bottom-color: #404040; border-right-color: #404040;">
				<DIV style="border: 1px solid #ECECEC; border-bottom-color: #919191; border-right-color: #919191;">
					<TABLE border="0" cellpadding="3" cellspacing="1" align="center" bgcolor="#C9CED6">
						<TR>
							<TD bgcolor="#385A94">
								<STRONG style="color: #FFFFFF;">Авторизация</STRONG>
							</TD>
						</TR>

						<TR>
							<TD>
								<FORM action="{LOGIN.FORMACTION}" method="{LOGIN.FORMMETHOD}">
									<INPUT type="hidden" name="{LOGIN.REFERERNAME}" value="{LOGIN.REFERERVALUE}">
									<INPUT type="hidden" name="{LOGIN.AREANAME}" value="{LOGIN.AREAVALUE}">
									<INPUT type="hidden" name="{CAPTCHA.KEYNAME}" value="{CAPTCHA.KEY}"/>

									<TABLE border="0" cellpadding="0" cellspacing="10" width="300">
										<TR>
											<TD colspan="2">
												{LOGIN.ERROR}
											</TD>
										</TR>

										<TR>
											<TD>Логин</TD>
											<TD width="100%">
												<INPUT type="text" name="{LOGIN.LOGINNAME}" value="{LOGIN.LOGINVALUE}" style="width:100%;">
											</TD>
										</TR>
										<TR>
											<TD>Пароль</TD>

											<TD>
												<INPUT type="password" name="{LOGIN.PASSWDNAME}" style="width:100%;">
											</TD>
										</TR>
										<TR>
											<TD>Код безопасности</TD>
											<TD>
												<IMG width="100" height="40" src="/captcha/{CAPTCHA.KEY}.jpeg"/>
											</TD>
										</TR>
										<TR>
											<TD>
												Вы точно не робот?
											</TD>
											<TD>
												<INPUT type="text" placeholder="{CAPTCHA.NOTE}" name="{CAPTCHA.VALNAME}" autocomplete="off" style="width: 100%;"/>
											</TD>
										</TR>

										<TR>
											<TD align="right" colspan="2">
												<button type="submit" class="button">Войти</button>
											</TD>
										</TR>
									</TABLE>
								</FORM>
							</TD>
						</TR>
					</TABLE>
				</DIV>
			</DIV>
		</TD>
	</TR>
</TABLE>
