<span class="current-user">
	{USER.TITLE}
</span>

<a href="{LOGOUT.HREF}" class="button-exit">
	<img src="i/icon/exit.gif" border="0" width="11" height="11" alt="Выйти" align="absmiddle">&nbsp;Выйти
</a>
